name: Build

on:
  push:
    branches:
      - main
      - 2201.[0-9]+.x
  workflow_dispatch:

jobs:
  call_workflow:
    name: Run Connector Build Workflow
    if: ${{ github.repository_owner == 'ballerina-platform' }}
    uses: ballerina-platform/ballerina-library/.github/workflows/build-timestamp-master-template.yml@main
    secrets: inherit
    with:
      additional-build-flags: -x :cdc-examples:build
